<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- include 'page-title' -%}

    {%- include 'page-description' -%}

    {%- include 'social-meta-tags' -%}

    {{ content_for_header }}

    {%- include 'style-tags' -%}

    {%- include 'script-tags' -%}
  </head>

  <body class="template-{{- template.name | handle -}}">

    {%- include 'icon-store' -%}

    <div id="app" v-cloak>

      <global-nav></global-nav>

      <main role="main" id="MainContent">
        {{ content_for_layout }}
      </main>

    </div>

    {%- include 'api-shop' -%}
    
    <script type="text/javascript">
      Shopify.template = '{{ template }}';
      console.log(Shopify);
    </script>
  </body>
</html>
